p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.rmdquestion, .rmdchallenge, .rmdexercise {
  padding: 1em 1em 1em 7em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/5em no-repeat;
}
.rmdquestion {
  background-image: url("figuras/question.png");
}
.rmdchallenge {
  background-image: url("figuras/challenge.jpeg");
}
.rmdexercise {
  background-image: url("figuras/exercise.png");
}
